@model TestNetFromHome.Models.AuthSuccessModel;
@{
    Layout = "_Layout";
}

<div class="form-group margin-top1x">
    <div class="row m-2">
        <div class="col-12">
               
                <p class="text-center text-success fs-1 fw-bold">Вы успешно авторизовались @Model.FirstName @Model.LastName (Email: @Model.Email)</p>

        </div>
    </div>
</div>